.Navbar {
    display: flex;
    background-color: black;
    min-height: 50px;
    padding-left: 10vw;
    padding-right: 10vw;
    justify-content: space-between;
    align-items: center;
  }
a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}